Article title:
<h3><%= @article.title %></h3>

<p><%= @article.body %></p>

<div class="mb-3">
  <%= link_to "Edit", edit_article_path(@article), class: "btn btn-success" %>
  <%= link_to "Destroy",
  article_path(@article),
  data: {
    turbo_method: :delete,
    turbo_confirm: "Are you sure?"
  },
  class: "btn btn-danger" %>
</div>
<div class="mb-3">
  <%= link_to "Show all articles", root_path, class: "btn btn-primary" %>
</div>

<h2>Comments</h2>
<% @article.comments.each do |comment| %>
  <p class="lead">
    <strong>Commenter:</strong>
    <%= comment.commenter %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= comment.body %>
  </p>
<% end %>

<h2>Add a comment:
</h2>
<%= form_with model:[@article, @article.comments.build] do |form| %>
  <div class="mb-3">
    <%= form.label :commenter %><br>
    <%= form.text_field :commenter %>
  </div>
  <div class="mb-3">
    <%= form.label :body %><br>
    <%= form.text_area :body %>
  </div>
  <div class="mb-3">
    <%= form.submit class: "btn btn-primary" %>
  </div>

<% end %>
