Article title:
<h3><%= @article.title %></h3>

<p><%= @article.body %></p>

<div class="mb-3">
  <%= link_to "Edit", edit_article_path(@article), class: "btn btn-success" %>
  <%= link_to "Destroy",
  article_path(@article),
  data: {
    turbo_method: :delete,
    turbo_confirm: "Are you sure?"
  },
  class: "btn btn-danger" %>
</div>
<div class="mb-3">
  <%= link_to "Show all articles", root_path, class: "btn btn-primary" %>
</div>
